language: cpp

matrix:
  include:
    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-4.9']
      env:
        - COMPILER=g++-4.9
        - LTO_FLAG=-flto

    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-5']
      env:
        - COMPILER=g++-5
        - LTO_FLAG=-flto

    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-6']
      env:
        - COMPILER=g++-6
        - LTO_FLAG=-flto

    - os: linux
      dist: trusty
      compiler: gcc
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test']
          packages: ['g++-7']
      env:
        - COMPILER=g++-7
        - LTO_FLAG=-flto

    - os: linux
      dist: trusty
      compiler: clang
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-trusty-3.9']
          packages: ['clang-3.9', 'libstdc++-4.9-dev']
      env:
        - COMPILER=clang++-3.9
        - LTO_FLAG=

    - os: linux
      dist: trusty
      compiler: clang
      addons:
        apt:
          sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-trusty-4.0']
          packages: ['clang-4.0', 'libstdc++-4.9-dev']
      env:
        - COMPILER=clang++-4.0
        - LTO_FLAG=

    - os: osx
      osx_image: xcode8.3
      compiler: clang
      env:
        - COMPILER=clang++
        - LTO_FLAG=-flto

    - os: osx
      osx_image: xcode9
      compiler: clang
      env:
        - COMPILER=clang++
        - LTO_FLAG=-flto

git:
  submodules: true
script:
  - make -e CXX=$COMPILER -e VERBOSE=true -e LTO_FLAG=$LTO_FLAG -f Makefile.travis
